{% extends "base.html" %}
{% block content %}

{% if message %}
    <div class="alert alert-success">
          <p>{{message}}</p>
    </div>
{%endif%}

<h1>Käyttäjät</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Sukupuoli</th>
        <th>Ikä</th>
        <th>Status</th>
        <th>Hakee</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        {% for profiili in profiilit %}
      <tr>
        <td><a href="/yvp/jasen/show/{{profiili.kayttajatunnus}}">{{profiili.kayttajatunnus}}</a></td>
        <td>{{profiili.sukupuoli}}</td>
        <td>{{profiili.ika}}</td>
        <td>{{profiili.status}}</td>
        <td>{{profiili.hakee}}</td>
        <th><a class="btn btn-default btn-sm" href="/yvp/uusiviesti.html">Lähetä Viesti</a></th>
      </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}