{% extends "base.html" %}
{% block content %}


<h1>{{profiili.kayttajatunnus}}</h1>

    <form method="post" action="{{base_path}}/jasen/{{profiili.ḱayttajatunnus}}" style="display: inline-block;">
  <button type="submit" class="btn btn-primary">Muokkaa</button>
</form>


<form method="post" action="{{base_path}}/jasen/{{profiili.ḱayttajatunnus}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>

<p>
    <a href="/yvp/viestit/index/{{profiili.kayttajatunnus}}" class="btn btn-primary">Postilaatikko</a>
</p>

<p><b>Ikä: </b>{{profiili.ika}}</p>

<p><b>Status: </b>{{profiili.status}}</p>

<p><b>Hakee: </b>{{profiili.hakee}}</p>

<p>{{profiili.esittelyteksti}}</p>

{% endblock %}