{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}



<h1>{{profiili.kayttajatunnus}}</h1>


{% if message %}
    <div class="alert alert-success">
          <p>{{message}}</p>
    </div>
{%endif%}

<p>
    <a href="{{base_path}}/jasen/muokkaa/{{profiili.kayttajatunnus}}" class="btn btn-primary">Muokkaa</a>
    <a href="/yvp/viestit/index/{{profiili.kayttajatunnus}}" class="btn btn-primary">Postilaatikko</a>
    	  {{forms.destroy_button("#{base_path}/jasen/#{profiili.kayttajatunnus}/destroy")}}
</p>

<p><b>Ikä: </b>{{profiili.ika}}</p>

<p><b>Status: </b>{{profiili.status}}</p>

<p><b>Hakee: </b>{{profiili.hakee}}</p>

<p>{{profiili.esittelyteksti}}</p>

{% endblock %}