{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Tervetuloa ystävävälitykseen!</h1>
  </div>
{% if message %}
  <div class="alert alert-success">
  {{message}}
</div>
{%endif%}


  <p>
  	Kauniin sivun tarkoituksena on liittää ihmiset ympäri maailmaa toisiinsa. Mukaan vaan ja laulamaan
  </p>


  <p>
    <a href="http://totutotu.users.cs.helsinki.fi/yvp/login" class="btn btn-primary btn-lg"> Kirjautuminen <span class="glyphicon glyphicon-chevron-right"></span></a>

    <a href="http://totutotu.users.cs.helsinki.fi/yvp/jasen/new" class="btn btn-primary btn-lg"> Rekisteröidy </a>

  </p>

{% endblock %}
